.modal-primary .control-label {
  color: #fff ! important;
}

.modal-success .control-label {
  color: #fff ! important;
}

.box-asset{
    margin:5px; 
    background-color: #bdc3c7; 
    height: 160px; 
    width: auto; 
}

.box-asset p{
    color: #fff; 
    font-weight: 500;
}

.img-asset{
    margin: 0 auto;
}







