.modal-primary .control-label {
  color: #fff ! important;
}

.modal-success .control-label {
  color: #fff ! important;
}

.box-asset{
    padding:5px; 
    border: solid 5px #fff;
    background-color: #bdc3c7; 
}

.box-asset p{
    color: #000; 
    font-weight: 500;
}

.img-asset{
    margin: 0 auto;
    padding: 20px;
    height: 100px;
    width: auto;
}







