@import url('https://fonts.googleapis.com/css?family=Miriam+Libre:400,700|Source+Sans+Pro:300,400,700');

h1, h2, h3, h4, h5, h6, nav{
    font-family: 'Miriam Libre', sans-serif;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}


.modal-primary .control-label {
  color: #fff ! important;
}

.modal-success .control-label {
  color: #fff ! important;
}

.box-asset{
    padding:5px; 
    border: solid 5px #fff;
    background-color: #bdc3c7; 
}

.box-asset p{
    color: #000; 
    font-weight: 500;
}

.img-asset{
    margin: 0 auto;
    padding: 20px;
    height: 100px;
    width: auto;
}

.btn-action {

}

.btn-action li {
    border-radius: 0 ! important;
    border-left: 0 ! important;
    border-right: 0 ! important;
    padding: 0;
}

.btn-action li:nth-child(1)  {
    border-top: 0 ! important;
    border-radius: 0 ! important;
    border-left: 0 ! important;
    border-right: 0 ! important;
    padding: 0;
}

.btn-action li:nth-child(3)  {
    border-bottom:  0 ! important;
    border-radius: 0 ! important;
    border-left: 0 ! important;
    border-right: 0 ! important;
    padding: 0;
}


.table_custom {
    border-collapse: collapse;
    margin-top: 20px;
}

.table_custom thead tr th {
    padding: 15px;
    background-color: #34495e;
    color: #fff;
}

.table_custom tbody tr td {
     padding: 15px;
}

.text-no-found{
    color: #95a5a6;
}








